/*// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


* {
  box-sizing: border-box;
}

/* BOARD show */
<style>
  .darker {
    background: rgba(0,0,0,0.3);
  }

  .clearfix {
    clear: both;
  }
  #lists-column{
    min-height: 87vh; 
  }

  .avatar {
    font-size: 10px;
    font-weight: 800;
    background: #ccc;
    color: #444;
    padding: 5px 8px;
    margin: 0 3px;
    border-radius: 3px;
  }

  .collaborator.avatar {
    /*float: right;*/
    text-align: right;
  }

  .frello.btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
    outline: none;
  }

  .frello.btn:hover {
    background: rgba(0,0,0,0.2);
  }

  .frello.btn.light:hover {
    background: none;
  }

  .board-info {
    padding: 6px 10px 0;
    font-size: 11px;
    color: white;
  }
  .board-info div {
    display: inline-block;
  }

  .board-info .left-info * {
    display: inline;
    margin-right: 3px;
  }

  .board-info .right-info {
    float : right;
  }

  .sidebar-toggler, .sidebar-toggler:active, .sidebar-toggler:hover {
    color: white;
  }
  .ui.pushable {
    height: 94vh !important;
    position: relative;
    top: -13px;
  }
  .sidebar.menu {
    /*height: 90vh !important;*/
    border-radius: 2px !important;
  }

  aside {
    /*display: none;*/
    /*width: 25%;*/
    /*height: 70vh;*/
    background: whitesmoke;
    /*position: fixed;*/
    /*top: 40px;*/
    /*right: 0;*/
    overflow-y: scroll;
    padding: 6px;
  }


  .board {
    width: auto;
    overflow-x: scroll;
    padding: 10px;
  }

  div.list {
    background-color: whitesmoke;
    display: inline-block;
    width: 220px;
    float: left;
    overflow-y: auto;
    padding: 7px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 3px;
  }

  div.list input {
    border-radius: 2px;
  }

  div.list .cards {
    /*max-height: 77vh;*/
    overflow-y: auto;
  }

  div.list .cards .card {
    width: 100%;
    background: #fff;
    padding: 5px;
    /*padding-bottom: 0;*/
    /*height: 30px;*/
    margin-bottom: 8px;
    border-radius: 3px ;
    display: block; 
  }

  div.list .cards .card:hover {
    background: #eee; 
  }

 /* div.list .cards .card p {
    width: 90%;
    height: auto;
    display: block;
  }*/

 /* .cards .card p, .cards .card .dropdown {
    display: inline-block;
  }
*/
  .card.checked {
    background: #efffef !important;
    color: #888;
  }

  /*.ui.dropdown {
    float: right;
    clear: right;
    display: block;
  }

  .ui.dropdown i.icon {
    color: #eee !important;
  }

  .ui.dropdown i.icon:hover {
    color: #888 !important;
  }

  .ui.dropdown menu {
    width: auto !important;
    z-index: 101 !important;
  }*/

  div.collaborators {
    /*display: inline-block;*/
    /*padding-left: -3px;*/
  }
</style>
